<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;

    }
</style>
<style>
    .navbar {
        background-color: #1d5ca5;
        position: fixed;
        z-index: 100;
        width: 100%;
    }

    .navbar-nav {
        float: right;
    }

    .navbar-nav .nav-item {
        padding: 0px 10px 0px 10px;
    }

    .navbar .navbar-nav .nav-link {
        color: #fff;
        font-size: 16px;
    }

    .navbar .navbar-nav .nav-link:hover {
        color: #fbc531;
    }

    .navbar .navbar-nav .active>.nav-link {
        color: #fbc531;
    }

    footer a.text-light:hover {
        color: #fed136 !important;
        text-decoration: none;
    }

    footer .cizgi {
        border-right: 1px solid #535e67;
    }

    @media (max-width: 992px) {
        footer .cizgi {
            border-right: none;
        }
    }

    .form-error {
        color: rgb(197, 5, 5);
    }
</style>
<header>
    <!--- Navbar --->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand text-white" href="#"><i class="fa fa-graduation-cap fa-lg mr-2"></i>GOOGLE DRIVE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                aria-controls="nvbCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nvbCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pl-1">
                        <a class="nav-link" href="/"><i class="fa fa-home fa-fw mr-1"></i>Home</a>
                    </li>
                    <li class="nav-item active pl-1">
                        <a class="nav-link" href="/login"><i class="fa fa-info-circle fa-fw mr-1"></i>Login</a>
                    </li>
                    <li class="nav-item  pl-1">
                        <a class="nav-link" href="/signup"><i class="fa fa-th-list fa-fw mr-1"></i>Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--# Navbar #-->
</header>
<section class="vh-100">

    <div class="container  py-3   h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-6 ">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-6 ">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form id="register-form" role="form" autocomplete="off" action="" class="form"
                                method="post">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon 	glyphicon glyphicon-lock color-blue"></i></span>
                                        <input id="email" name="password" placeholder="New password" class="form-control">
                                    </div>


                                    <p style="color: red; float: left; padding-left: 40px;"> {{messages}}
                                    </p>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">

                                        <span class="input-group-addon"><i
                                                class="glyphicon 	glyphicon glyphicon-lock color-blue"></i></span>
                                        <input id="email" name="email" placeholder="Confirm Password"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                        value="Reset Password" type="submit">
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>
                            <a style="float: left;" href="/login"> Go back to login page </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>